.result {
	display: flex;
	height: 40%;
	width: 100%;
	
}
.result-container{
	display : block;
    background : rgb(126, 125, 125);
    padding:10px;
    border-width:2px;
    border-color:black;
    border-style:solid;
	// scroll-margin-block: 10px;
	width: 100%;
	height: 100%;
	overflow: auto;
	
}
.method{
	display: flex;
	justify-content: center;
	width: 50%;
	height: 50%;
	border-radius: 5px;
	align-items: center;
	 	
}
#button {
	display: inline;
	background-color: green;
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 0px 5px;
	margin-left: 5px;
    cursor: pointer;	
}
#url{
	display: block;
	background-color: rgb(89, 90, 89);
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 0px 5px;
	margin :0px 8px;
	
	cursor: pointer;	
}